@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|PT+Sans&display=swap");
* {
  text-align: center;
}

body {
  overflow: overlay;
  overflow-x: hidden;
  color: #eaeaea;
}

.bg {
  position: relative;
  background-color: #252627;
  left: 90px;
  width: calc(100% - 90px);
  min-height: 100vh;
}

.hidden {
  display: none;
}

a {
  color: #eaeaea;
}

a:hover {
  text-decoration: none;
  color: #00b3ff !important;
}

.heading-text {
  font-size: 3.5rem;
}

.cv {
  font-size: 1.2rem;
}

.sub-headers {
  display: block;
  margin: 10px 0;
  font-weight: 600;
  font-size: 17px;
  color: #00b3ff;
}

.about-content-section,
.skills-content-section,
.contact-content-section {
  height: auto;
  margin-top: 10px;
  padding-bottom: 20px;
  display: grid;
  align-content: center;
  align-items: center;
}

.skills-heading,
.about-heading,
.my-work-heading,
.contact-heading {
  color: #fafafa;
  text-shadow: 20px 20px 1.2rem rgba(0, 0, 0, 0.8);
  font-size: 5em;
  opacity: 0.8;
  z-index: 0;
  padding-left: 20px;
  font-family: "PT sans";
  font-weight: 600;
}

.skills-info,
.about-me-info {
  max-width: 900px;
  background-color: #181818;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
  padding: 50px;
  text-align: center;
  z-index: 1;
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: grid;
  margin: 50px auto;
}

.card {
  border-radius: 10px;
  max-height: 275px;
  border: none;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.8);
}

img {
  height: 275px;
  width: auto;
}

.card-img-overlay {
  color: #eaeaea;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  padding: 0;
}

.image-text {
  position: absolute;
  width: 100%;
  padding: 2rem;
  bottom: 0;
}

.card:hover {
  transition: 0.3s ease-in-out;
}
.card:hover .card-img-overlay {
  display: block;
  box-shadow: 0px 0px 5px 2px #00b3ff;
}

.buy-now-btn {
  color: #eaeaea;
  font-size: 2.5rem;
}

hr {
  background-color: #00b3ff;
  width: 15%;
  height: 2px;
}

.my-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
  grid-gap: 30px;
  padding: 3rem 5rem;
  justify-content: center;
}

.main-content {
  color: #fafafa;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 50px 0 20px 0;
}

.contact-button {
  margin: 20px 0 20px 0;
  height: 45px;
  width: 150px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #00b3ff;
  color: #00b3ff;
  border-radius: 0;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.contact-button:hover {
  color: #00b3ff;
  background-color: #181818;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

/* ------------------------------Contact */
.contact-form {
  padding: 100px;
  margin-top: 20px;
  background-color: #181818;
  color: #fafafa;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form h3 {
  text-align: center;
  padding-bottom: 20px;
  color: #00b3ff;
}

.personal-info {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.submit-button {
  background-color: #eaeaea;
  color: #181818;
}

.submit-button:hover {
  background-color: #00b3ff;
  color: white;
  transition: all 0.5s ease-in-out;
}

/* ------------------------------Footer */
.footer-container {
  background-color: #181818;
  text-align: center;
  letter-spacing: 4px;
  font-size: 25px;
  height: 110px;
}

.social-links li i {
  color: #fafafa;
}

footer h5 {
  color: #00b3ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .bg {
    left: 0;
    bottom: 64px;
    width: 100%;
    margin-top: 64px;
  }
}
/* ------------------------------Animation (source Youtube with my own edit) */
.heading-text span {
  letter-spacing: -10px;
  animation: animate 2s linear infinite;
}

.heading-text span:nth-child(1) {
  animation-delay: 0s;
}

.heading-text span:nth-child(2) {
  animation-delay: 0.25s;
}

.heading-text span:nth-child(3) {
  animation-delay: 0.5s;
}

.heading-text span:nth-child(4) {
  animation-delay: 0.75s;
}

.heading-text span:nth-child(5) {
  animation-delay: 1s;
}

.heading-text span:nth-child(6) {
  animation-delay: 1.25s;
}

@keyframes animate {
  0%, 50% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  }
  5%, 95% {
    color: #fff;
    filter: blur(0px);
    text-shadow: none;
  }
}
@keyframes arrow-jump {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
#arrow {
  animation: arrow-jump 1s infinite;
  font-size: 1.2rem;
}

.bg {
  transition: transform 0.5s ease-in;
}

.primary-navigation {
  position: fixed;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90px;
  background: #181818;
  box-shadow: 2px 0px 10px 0px #00b3ff;
  transition: transform 0.5s ease-in;
  z-index: 3;
}

.misc-links {
  grid-row: 3;
  list-style: none;
  font-size: 1.3rem;
  line-height: 50px;
  justify-self: center;
  padding: 0;
  font-size: 1.8rem;
}

.misc-links a {
  color: #eaeaea;
}

.nav-links {
  position: absolute;
  height: 100%;
  width: 105%;
  background: #181818;
  display: grid;
  margin: 0;
  transform: translateX(-100%);
  justify-items: right;
  padding: 0;
}

.nav-links li.link a {
  color: #eaeaea !important;
  border: none;
  margin-left: 10px;
}

.nav-links li {
  padding: 10px !important;
}

.nav-links li a:hover {
  color: #00b3ff !important;
  transition: 0.3s ease-in-out;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes cardOverlayFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cardTextFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-link-active {
  transform: translateX(-100%);
}

.nav-active {
  transform: translateX(100%);
}

.body-active {
  transform: translateX(90px);
}

.link {
  align-self: center;
  list-style: none;
  opacity: 0;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #eaeaea;
  align-self: center;
  grid-row: 1;
}

.logo a {
  text-decoration: none;
}

.logo:hover {
  color: #eaeaea !important;
}

.burger {
  grid-row: 2;
  justify-self: center;
}

.burger div {
  transition: all 0.5s ease;
}

.line1 {
  width: 25.45px;
  height: 2px;
  background: #00b3ff;
  margin-top: 7px;
}

.line2 {
  width: 31.82px;
  height: 2px;
  background: #00b3ff;
  margin-top: 7px;
}

.line3 {
  width: 35px;
  height: 2px;
  background: #00b3ff;
  margin-top: 7px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  width: 35px;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

a.github-link, a.linkedin-link {
  display: none;
  color: #eaeaea;
}

.dropdown-menu {
  background-color: #252627;
  border: 1px solid #00b3ff;
  z-index: 4;
}

.dropdown-item {
  color: #eaeaea;
}

.dropdown-item:hover {
  background-color: revert;
}

.dropright .dropdown-menu {
  top: -120px !important;
  left: 30px !important;
}

.dropup .dropdown-menu {
  left: -150% !important;
  top: -65% !important;
}

@media only screen and (max-width: 600px) {
  .primary-navigation {
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    grid-gap: 0;
    height: 64px;
    width: 100vw;
    bottom: 0;
  }

  .nav-link-active {
    transform: translateX(0%) translateY(100%);
  }

  .nav-active {
    transform: translateX(0%) translateY(-100%);
  }

  .body-active {
    transform: translateX(0px) translateY(-64px);
  }

  .logo {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    line-height: 1.5;
  }

  .burger {
    grid-column: 5;
    grid-row: 1;
  }

  .toggle .line1 {
    width: 25px;
  }

  .toggle .line3 {
    width: 25px;
  }

  ul.misc-links {
    display: none;
  }

  a.linkedin-link {
    grid-column: 2;
    justify-self: center;
    display: block;
    grid-row: 1;
    font-size: 1.6rem;
  }

  a.github-link {
    grid-column: 4;
    justify-self: center;
    display: block;
    grid-row: 1;
    font-size: 1.6rem;
  }

  .nav-links {
    transform: translateX(0%) translateY(95%);
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.9rem;
    justify-items: center;
    width: 100%;
    height: 105%;
  }

  .nav-links li.link a {
    margin-left: 0;
  }
}
.loader-bg {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #181818;
  width: 100%;
  height: 100%;
}

.loading-container {
  position: fixed;
  display: grid;
  text-align: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr;
}

.loading-text {
  align-self: end;
}

.loading-bubble {
  align-self: start;
  color: #00b3ff;
}

.loading-bubble > div {
  width: 18px;
  height: 18px;
  background-color: #00b3ff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-bubble .bubble-1 {
  animation-delay: -1.28s;
}

.loading-bubble .bubble-2 {
  animation-delay: -0.64s;
}

.loading-bubble .bubble-3 {
  animation-delay: -0.32s;
}

.loading-spinner {
  font-size: 36px;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 650px) {
  .loading-container {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
