@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|PT+Sans&display=swap');

$main-font: Montserrat;
$secondary-font: PT Sans;
$main-color: #181818;
$font-color: #eaeaea;
$secondary-color: #00b3ff;;
$background-color: #252627;
$heading-padding-desktop: 1.8rem;
$heading-padding-mobile: 1.2rem ;
$heading-size-mobile: 2rem;

%button-style {
    background: transparent;
    min-width: 120px;
    height: 40px;
    color: $font-color !important;
    border: 1px solid $secondary-color;
    border-radius: 0.25rem !important;
}

%button-hover {
    color: $secondary-color !important;
    background: rgba($font-color, 0.9);
    transition: ease-in-out 0.3s;
}

* {
    text-align: center;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    color: $font-color;
}

.bg {
    position: relative;
    background-color: $background-color;
    left: 90px;
    width: calc(100% - 90px);
    min-height: 100vh;
}

.hidden {
    display: none;
}

a {
    color: $font-color;
}

a:hover {
    text-decoration: none;
    color: $secondary-color !important;
}

.heading-text {
    font-size: 3.5rem;
}

.cv {
    font-size: 1.2rem;
}

.sub-headers {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    font-size: 17px;
    color: $secondary-color;
}

.about-content-section,
.skills-content-section,
.contact-content-section{
    height: auto;
    margin-top: 10px;
    padding-bottom: 20px;
    display: grid;
    align-content: center;
    align-items: center;
}

.skills-heading,
 .about-heading,
 .my-work-heading,
 .contact-heading{
     color: #fafafa;
     text-shadow: 20px 20px 1.2rem rgba(0, 0, 0, 0.8);
     font-size: 5em;
     opacity: .8;
     z-index: 0;
     padding-left: 20px;
     font-family: "PT sans";
     font-weight: 600;
 }

 .skills-info,
 .about-me-info{
     max-width: 900px;
     background-color: #181818;
     box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
     padding: 50px;
     text-align: center;
     z-index: 1;
     color: #fafafa;
     font-family: "Montserrat", sans-serif;
     font-size: 15px;
     display: grid;
     margin: 50px auto;
 }

 .card {
    border-radius: 10px;
    max-height: 275px;
    border: none;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.8);
}
 img {
    height: 275px;
    width: auto;
}

.card-img-overlay {
    color: $font-color;
    background-color: rgba(0,0,0, 0.8);
    display: none;
    padding: 0;
}

.image-text {
    position: absolute;
    width: 100%;
    padding: 2rem;
    bottom: 0;
}

.card:hover {
    transition: 0.3s ease-in-out;
    .card-img-overlay {
        display: block;
        box-shadow: 0px 0px 5px 2px $secondary-color;
    }
}

.buy-now-btn {
    color: $font-color;
    font-size: 2.5rem;
}

hr {
    background-color: $secondary-color;
    width: 15%;
    height: 2px;
}

 .my-work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
    grid-gap: 30px;
    padding: 3rem 5rem;
    justify-content: center;
 }


 .main-content{
    color: #fafafa;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 50px 0 20px 0;
 }

 .skills-img {
    height: 3rem;
    margin: 0 0.5rem 0.5rem 0;
 }

 span.skills-list i {
    font-size: 2rem;
    padding: 0.5rem;
 }


.contact-button{
     margin: 20px 0 20px 0;
     height: 45px;
     width: 150px;
     text-transform: uppercase;
     background-color: transparent;
     border: 3px solid $secondary-color;
     color: $secondary-color;
     border-radius: 0;
     letter-spacing: 2px;
     position: relative;
     transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
 }

 .contact-button:hover{
    color: $secondary-color;
    background-color: $main-color;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

/* ------------------------------Contact */

.contact-form{
    padding: 35px;
    margin-top: 20px;
    background-color: #181818;
    color: #fafafa;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form h3{
    text-align: center;
    padding-bottom: 20px;
    color: #00b3ff;
}

.personal-info{
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.submit-button{
    background-color: $font-color;
    color: $main-color;
}

.submit-button:hover{
    background-color: #00b3ff;
    color: white;
    transition: all 0.5s ease-in-out;
}

/* ------------------------------Footer */

.footer-container{
    background-color: #181818;
    text-align: center;
    letter-spacing: 4px;
    font-size: 25px;
    height: 110px;
}

.social-links li i{
    color: #fafafa;
}

footer h5{
    color: #00b3ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}

 @media only screen and (max-width: 600px) {
    .bg {
        left: 0;
        bottom: 64px;
        width: 100%;
        margin-top: 64px;
    }
 }

/* ------------------------------Animation (source Youtube with my own edit) */

/*  .heading-text span{
     letter-spacing: -10px;
     animation: animate 2s linear infinite;
 }

 .heading-text span:nth-child(1){
     animation-delay: 0s;
 }
 .heading-text span:nth-child(2){
     animation-delay: 0.25s;
 }
 .heading-text span:nth-child(3){
     animation-delay: 0.5s;
 }
 .heading-text span:nth-child(4){
     animation-delay: 0.75s;
 }
 .heading-text span:nth-child(5){
     animation-delay: 1s;
 }
 .heading-text span:nth-child(6){
     animation-delay: 1.25s;
 }

 @keyframes animate{
     0%,50%{
         color: #fff;
         filter: blur(2px);
         text-shadow: 0 0 10px #00b3ff,
                     0 0 20px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 80px #00b3ff,
                     0 0 120px #00b3ff;
     }

     5%,95%{
         color: #fff;
         filter: blur(0px);
         text-shadow: none;
     }
 } */

@keyframes arrow-jump {
  0%   { opacity: 0;}
  100% { opacity: 1;
        transform: translateY(10px);
    }
  
}
#arrow {
  animation: arrow-jump 1s infinite;
  font-size: 1.2rem;
}

@import 'nav';
@import 'loader';